.pagina-voluntario-instituicao{
    margin-top: 120px;
    height: 84vh;
    width: 100vw;

    background-color: #E3E5E7;

}

.conteudo-pagina-voluntario-instituicao{
    height: 100%;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.titulo-geral-tabela h1{
    font-family: 'OpenSansBold', sans-serif;
    font-size: 53px;
    color: #2F4354;
}

.tabela{
    width: 90vw;
    height: 60vh;

    border-radius: 10px;

    background-color: white;

}

.todos-os-titulos{
    width: 100%;
    height: 13%;

    border-radius: 10px 10px 0px 0px;

    background-color: #3C566C;

}
.titulo-tabela{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}
.nome-titulo{
    width: 25%;
    height: 50%;

    text-align: center;
}
.nome-titulo p{
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 20px;
    color: white;
}

.itens-lista{
    width: 100%;
    height: 90%;

    
    overflow-y: scroll;
   
}
.linha-itens{
    box-sizing: border-box;

    width: 100%;
    height: 40px;

    border-bottom: 1px solid #3D3838;

    display: flex;
    align-items: center;

}
.item{
    width: 25%;
    height: 100%;

    padding-left: 10px;

    border-right: 1px solid #CFCACA;

    display: flex;
    align-items: center;
}
.item-data{
    width: 25%;
    height: 100%;

    padding-left: 10px;

    display: flex;
    align-items: center;
}

.botao-adicionar{
    position: fixed;
    bottom: 30px;
    right: calc(10vw/2);

    width: 140px;
    height: 40px;

    border-radius: 10px;

    background-color: #2F4354;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}

.botao-adicionar span{
    font-family: 'OpenSansRegular', sans-serif;
    color: white;
}
